@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


#estilo_titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
    display: block;
}

#datos {
    padding-top: 10%;
    max-width: 90%;
    height: 500px;
    text-align: center;
    margin: auto;
}

.textopequeño {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    text-align: center;
    display: block;
}


.resultado {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    display: block;
}

.textogrande {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

.espaciador {
    margin: 6%;
}

.img {
    position: absolute;
    bottom: 6%;
    left: 2%;
    right: 2%;
}

#susio {
    color: grey;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    position: absolute;
    bottom: 0.1%;
    left: 2%;
    right: 2%;
}

body {
    text-align: center;
    margin: 0;
}

.tituloapp {
    background-color: rgb(189, 189, 189);
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    color: black;
    box-shadow: 1px 1px 15px rgb(88, 88, 88);

    /*border-bottom: solid;
    border-color: black;
    border-width: 1px;*/
  }

  li {
    float: left;
    color: black;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(199, 199, 199);
  }
  
  .active {
    background-color: #ffffff;
    color: black;
    font-family: 'Quicksand', sans-serif;
  }

.tradingview-widget-container {
    margin: auto;
    text-align: center;
}
